header
{
    text-align: center;
    border: inset gray 3px;
    background-color: lightgrey;
}

.headerImage
{
    max-height: 180px;
    min-height: 70px;
    text-align: center;

}

#headerText
{
    font-size: 110%;
    font-weight: 200;
    font-family: sans-serif;

}

body
{
    background-color: white;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    min-width: 350px;
}

.mainContainer
{
    background-color: white;
}

html
{
    text-align: center;
    margin: auto;
    background-color: #002e62;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 90%;
    margin: auto;
}

footer
{
    background-color: lightgrey;
    text-align: center;
    border: double black 1px;
}


/* Small */
@media(min-width:768px)
{

    #headerText
    {
        font-size: 200%;

    }

}

/* Medium */
@media(min-width:992px)
{
    #headerText
    {
        font-size: 300%;

    }

}

/* Large */
@media(min-width:1200px)
{

    #headerText
    {
        font-size: 370%;

    }


}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

#wordCloud
{
    border: none;
}

